<%- include('./partials/head') %>

<body>
 <% if (locals.user != null){%>
	<%- include('./partials/headerLogueado')  %>
 <%}  else {%>
	<%- include('./partials/header') %>
<%}%>
 	

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto:<%= product.nombre %> </h2> 
			<p class="product-detail-description">
				<a href="/product/update/<%= product.id %>">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Descripción:<%=  product.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					
						<article>


<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<a href="profile.html"></a> 
								
							
									<strong>Dueño:<%= product.user1.nombre %>  </strong>
						
							</p>
							</div>
						</article>
						
						
						<% for( let i = 0; i < product.comment2.length; i++ ) { %>
						
							<div class="data">
								<p class="user">
									<img src="<%= product.comment2[i].user2.imagen%>" alt="" class="product-detail-img">
									
									<strong>Usuario: <%= product.comment2[i].user2.nombre %> </strong><br>
									<strong>Comentario: <%= product.comment2[i].comentarios %> </strong>
									

							</div>

							<% } %>
						</article>
						
					
						

					</section>
					<form class="form" action="/product/comment/<%=id%>" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comment">
						<button  type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
</body>
	<!-- /product detail -->
<%- include('./partials/footer') %>