<%- include('./partials/head') -%>

<body>
    <% if (locals.user != null) { %>
        <%- include('./partials/headerLogueado') -%>
    <% } else { %>
        <%- include('./partials/header') -%>
    <% } %>
    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Resultados de búsqueda</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <h2 class="col-12"> <i>///////////////////////////////////////// <br>
                <% for (let i = 0; i < listaProducts.length; i++) { %>
                    <li class="li">
                        
                    
                        <a href="/product/<%= listaProducts[i].id %>"> <%= listaProducts[i].nombre %> <%= listaProducts[i].imagen %></a>
                    </li>
                <% } %>
                 <br>
            ////////////////
            </h2>
 
 
        </div>
    </div>

<%- include('./partials/footer') -%>